<!DOCTYPE html>
<html>
    <head>
<link  rel = "stylesheet" href ="css/styles.css">
        <body>
              <div class="main-content"> 
                       {{>header}}
        <p> new adddddddded paragraph</p>
            </div>
         
               {{>footer}}
        </body>

    </head>
      

</html>