body { 
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 20 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}


h1 { 
    font-size: 60px;
    color: red
    
}
.main-content { 

    flex-grow: 1;
}

.portrait  {
width: 200px;
height: 200px;
    
}


footer { 
    padding: 16px;
    margin: 16px;
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0 
}
header { 

    margin-top: 16px;
    margin-bottom: 48px;
}

header a { 

    color: #888888;
    margin-right: 16px;
    text-decoration: none;
    cursor: pointer;


}
